<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PracTest2016S2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7C344131DE6E154006F42AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7C344291DE6E155006F42AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7C344341DE6E155006F42AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
